.revolutionary-editor-section{
  &__btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid rgba(27,31,35,.15);
    margin: 0 10px 20px 0;
  }

  &__btn-text{
    color: black;
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid rgba(27,31,35,.15);
    & svg{
      margin-right: 3px;
      vertical-align: middle;
      margin-top: -3px;
    }
  }
  &__btn-number{
    color: black;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
  }
}


